<section class="orientation-section">
    <div class="shop-orientation">
        <div class="shop-orientation__title">
            <div class="shop-orientation__title__header">
                Shop
            </div>
            <div class="shop-orientation__title__descriptor">
                Home <span class="so-span-1"> > </span> <span class="so-span-2">Shop</span>
            </div>
        </div>
    </div>
</section>  
<section class="filter-section">
    <div class="shop-filter-block">
        <div>
            <img src="assets/images/system-uicons_filtering.png" alt="" width="25">
        </div>
        <div class="shop-filter-block__filter">
            Filter
        </div>
        <div>
            <img src="assets/images/ci_grid-big-round.png" alt="">
        </div>
        <div>
            <img src="assets/images/bi_view-list.png" alt="">
        </div>
        <div class="shop-filter-block__line"></div>
        <div class="shop-filter-block__results">
            Showing 1–16 of 32 results
        </div>
    </div>
    <div class="shop-results-block">
        <div class="shop-results-block__show">
            <div>Show</div>
            <div class="shop-results-block__show__count">
                <div class="shop-results-block__show__count__white">
                    16
                </div>
            </div>
        </div>
        <div class="shop-results-block__short-by">
            <div>Short by</div>
            <div class="shop-results-block__short-by__count">
                <div class="shop-results-block__short-by__count__white">
                    Default
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop-furneture">
    @@include('../components/_block-furneture.html')

    @@include('../components/_block-furneture.html')
</section>

<section class="shop-buttons-section">
    @@include('../components/_shop-buttons.html')
</section>

<section class="nomination-section">
    @@include('../components/_nomination.html')
</section>