@use 'utils/variables';

.navigation{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    &__menu{
        list-style-type: none;
        font-family: var(--font-family-title);
        display: flex;
        width: 40%;
        justify-content: space-between;
        gap: var(--gap-xl);
    }
    &__icon{
        width: 20%;
        display: flex;
        justify-content: space-between;
        gap: var(--gap-xl);
        align-items: center;
    }
}

@media screen and (min-width: 1600px){
    .navigation{
        font-size: 1.5rem;
    }
    
}