@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../assets/fonts/Poppins-Regular.ttf);
}

:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-text: #3a3a3a;
  --main-nav-text: rgb(0, 0, 0);
  --main-black-nav-text: #FFFFFF;
  --main-black-text: #333333;
  --main-desc-card-black-text: #b39f9f;
  --main-desc-card-text: #898989;
  --main-var1-colro-text: #616161;
  --footer-text-header: #9F9F9F;
  --sell-cost-text: #B0B0B0;
  --btn-color-white: #FFFFFF;
  --brn-color-black: #000000;
  --btn-yellow-text: #B88E2F;

  /**  Бэк */
  --main-background-color: #FCF8F3;
  --main-background-color-shop: #F9F1E7;
  --main-background-color-nomination: #FAF3EA;
  --background-color-shop: #B88E2F;

  /**  Шрифты */
  --font-family-title: "Poppins", sans-serif;
}