@use 'utils/variables';
.cart-item{
    display: flex;
    align-items: center;

    gap: var(--gap-xl);
    &__title{
        font-weight: 400;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 0%;
    }
    &__desc{
        display: flex;
        align-items: center;
        gap: var(--gap-l);
        min-width: 127px;
        &-count{
            font-weight: 300;
            font-size: 1rem;
        }
        &-symbol{
            font-weight: 300;
            font-size: 0.75rem;
        }
        &-price{
            font-weight: 300;
            font-size: 0.75rem;
            color: #B88E2F;

        }
    }
}
.cart-text{
    display: flex;
    width: 90%;
    // margin: 0% 15% 0 3%;
    justify-content: flex-start;
    flex-direction: column;
    // gap: var(--gap-l);
}
.svg{
    min-width: 20px;
    height: 20px;
}

.cart-container {
            position: fixed;
            overflow: hidden;
            top: 0px;
            right: 0px;
            min-width: 350px;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            justify-content: flex-start;
            gap: 35px;
            width: 29%;
            background-color: white;
            padding: var(--padding-block);
            z-index: 11;
            transition: right 0.3s ease-out;
            max-height: 80vh;
            overflow-y: auto;
        }

        .cart-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__cart-header{
              font-weight: 600;
              font-size: 1.5rem;
            }
        }
        .cart-items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
        &__footer{
          display: flex;
          gap: 30%;
          &-title{
            font-weight: 400;
            font-size: 16px;
          }
          &-count{
            font-weight: 600;
            font-size: 1rem;
            color: #B88E2F;
          }
        }
      }
        .close-cart {
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
            color: #777;
        }
  .line-cart-short{
    width: 70%;
    height: 1px;
    margin-top: -20px;
    background-color: #D9D9D9;
  }
  .line-long{
    width: 120%;
    margin-left: -20px;
    height: 1px;
    background-color:  #D9D9D9;
  }
.cart-buttons{
  display: flex;
  gap: var(--gap-l);
  font-size: 1rem;
}
@media screen and (min-width: 1600px) {
  .navigation{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .cart-buttons{
    justify-content: center;
  }
}
a{
  color: inherit;       
  text-decoration: none;
}