@use '../../utils/variables';

.main-text-block{

    &__line{
        width: 100vw;
        height: 1px;
        background-color: var(--footer-text-header);
        margin: 3% 0 3%;
    }

    &__title{
        margin-bottom: 3%;

        width: 100%;
        display: inline-flex;
        justify-content: center;
        gap: 50px;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--footer-text-header);

        &__actual{
            color: var(--brn-color-black);
        }

    }

    &__description{
        font-weight: 400;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--footer-text-header);
        display: flex;
        justify-content: center;
        text-align: center;

        &__edit{
            width: 62%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-xl);
            text-align: justify;
            margin-bottom: 3%;

            &__text1, &__text2{
                width: 70%;
            }
        }
    }

    &__pictures{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}