<main class="content">
    <section class="content__nc-section">
        <div class="block-content">
            <div class="block-content__header">New Arrival</div>
            <div class="block-content__descriptor">Discover Our New Collection</div>
            <div class="block-content__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</div>
            <button type="submit" class="nc-btn">BUY NOW</button>
        </div>
    </section>
</main>