<main class="content">
    <section class="content__nc-section">
        <div class="block-content">
            <div class="block-content__header">New Arrival</div>
            <div class="block-content__descriptor">Discover Our New Collection</div>
            <div class="block-content__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</div>
            <button type="submit" class="nc-btn">BUY NOW</button>
        </div>
    </section>
    <section class="content__br-section">
        <div class="block-content-br">
            <div class="block-content-br__header">
                Browse The Range
            </div>
            <div class="block-content-br__descriptor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="block-content-br__rooms">
                <div>
                    @@include('../components/_el-rooms.html', {
                    "img": "./assets/images/rooms-1",
                    "text": "Dining"
                    })
                </div>
                <div>
                    @@include('../components/_el-rooms.html', {
                    "img": "./assets/images/rooms-2",
                    "text": "Living"
                    })
                </div>
                <div>
                    @@include('../components/_el-rooms.html', {
                    "img": "./assets/images/rooms-3",
                    "text": "Bedroom"
                    })
                </div>
            </div>
        </div>
    </section>
    <section class="content__op-section">
        <div class="block-content-op">
            <div class="block-content-op__header">
                Our Products
            </div>
            <div class="block-content-op__furneture">
                @@include('../components/_block-furneture.html')
            </div>
            <div class="block-content-op__btn-edit">
                <button class="bc-btn">
                    Show more
                </button>
            </div>
        </div>
    </section>
</main>