<main class="content">
    <section class="content__nc-section">
        <div class="block-content">
            <div class="block-content__header">New Arrival</div>
            <div class="block-content__descriptor">Discover Our New Collection</div>
            <div class="block-content__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</div>
            <button type="submit" class="nc-btn">BUY NOW</button>
        </div>
    </section>
    <section class="content__br-section">
        <div class="block-content-br">
            <div class="block-content-br__header">
                Browse The Range
            </div>
            <div class="block-content-br__descriptor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="block-content-br__rooms">
                <div>
                    @@include('../components/_el-rooms.html', {
                    "img": "./assets/images/rooms-1",
                    "text": "Dining"
                    })
                </div>
                <div>
                    @@include('../components/_el-rooms.html', {
                    "img": "./assets/images/rooms-2",
                    "text": "Living"
                    })
                </div>
                <div>
                    @@include('../components/_el-rooms.html', {
                    "img": "./assets/images/rooms-3",
                    "text": "Bedroom"
                    })
                </div>
            </div>
        </div>
    </section>
    <section class="content__op-section">
        <div class="block-content-op">
            <div class="block-content-op__header">
                Our Products
            </div>
            <div class="block-content-op__furneture">
                @@include('../components/_block-furneture.html')
            </div>
            <div class="block-content-op__btn-edit">
                <button class="bc-btn">
                    Show more
                </button>
            </div>
        </div>
    </section>
    <section class="content__bri-section">
        <div class="block-content-bri">
            <div class="block-content-bri__body">
                <div class="block-content-bri-edit">
                    <div class="block-content-bri-edit__body header">
                        50+ Beautiful rooms inspiration
                    </div>
                    <div class="block-content-bri-edit__body descriptor">
                        Our designer already made a lot of beautiful prototipe of rooms that inspire you
                    </div>
                    <div class="block-content-bri-edit_body btn">
                        <button type="submit" class="nc-btn">Explore More</button>
                    </div>
                </div>
            </div>
            <div class="block-content-bri__choise">
                <div class="choice-inner-peace">
                    <div class="choice-inner-peace__peace-img">
                        <img src="/assets/images/bri-1.webp" alt="" class="p-img">
                        <div class="peace-text-block">
                            <div class="peace-text-block-edit">
                                <div class="peace-text-block-edit__first">
                                    01 - Bed Room
                                </div>
                                <div class="peace-text-block-edit__second">
                                    Inner Peace
                                </div>
                            </div>
                        </div>
                        <div class="peace-img__btn-next-point">
                            <img src="/assets/images/peace-next-point.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="choise-2">
                    <div>
                        <img src="/assets/images/bri-2.webp" alt="">
                    </div>  
                    <div class="">
                        <img src="/assets/images/peace-pages.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content__ss-section">
        <div class="content__ss-section__title">
            Share your setup with
        </div>
        <div class="content__ss-section__descriptor">
            #FuniroFurniture
        </div>
    </section>
</main>