@use '../../utils/variables';

.blog-main-component{
    overflow: hidden;

    @media screen and (max-width: 420px) {
        text-align: center;
    }

    &__title-image{

        .title-image{

            @media screen and (max-width: 820px) {
                width: 450px;
            }
        }

        &__descriptor{
            padding-top: 2%;
            display: inline-flex;
            gap: 35px;

            font-weight: 400;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--footer-text-header);

            &__autor, &__date, &__made{
                display: inline-flex;
                align-items: center;
                gap: 7px;

            }
        }
    }
}

.message{

    &__title{
        padding-top: 4%;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--brn-color-black);
    }

    &__main-text{
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: justify;
        color: var(--footer-text-header);
    }

    &__link{
        padding: 2% 0 5%;

        &__edit{
            font-weight: 400;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: justify;

            text-decoration: underline;
        }
    }
}