<div class="selected-product">
    <img src="@@img.webp" alt="" class="selected-product__img">
    <div class="selected-product__title">
        @@selected-title
    </div>
    <div class="selected-product__cost">
        @@selected-cost
    </div>
    <div class="selected-product__rating">
        <div class="selected-product__rating__int">
            @@int-rating
        </div>
        <div class="selected-product__rating__img">
            <img src="./assets/images/stars.png" alt="" class="selected-product__img">
        </div>

        <!-- Взять из асгард софа -->
        <div class="selected-product__rating__line"></div>
        <div class="selected-product__rating__reviews">
            @@review
        </div>
    </div>
</div>