<div class="block-furneture-edit">
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-1",
        "imgsell": "./assets/images/sell",
        "title": "Syltherine", 
        "descriptor": "Stylish cafe chair", 
        "cost": "Rp 2.500.000",
        "furn-span": "Rp 3.500.000"
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-2",
        "imgsell": "",
        "title": "Leviosa", 
        "descriptor": "Stylish cafe chair", 
        "cost": "Rp 2.500.000",
        "furn-span": ""
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-3",
        "imgsell": "./assets/images/sell_-50",
        "title": "Lolito", 
        "descriptor": "Luxury big sofa", 
        "cost": "Rp 7.500.000",
        "furn-span": "Rp 14.000.000"
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-4",
        "imgsell": "./assets/images/sell_new",
        "title": "Respira", 
        "descriptor": "Outdoor bar table and stool", 
        "cost": "Rp 500.000",
        "furn-span": ""
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-5",
        "imgsell": "",
        "title": "Grifo", 
        "descriptor": "Night lamp", 
        "cost": "Rp 1.500.000",
        "furn-span": ""
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-6",
        "imgsell": "./assets/images/sell_new",
        "title": "Muggo", 
        "descriptor": "Small mug", 
        "cost": "Rp 150.000",
        "furn-span": ""
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-7",
        "imgsell": "./assets/images/sell_-50",
        "title": "Syltherine", 
        "descriptor": "Stylish cafe chair", 
        "cost": "Rp 2.500.000",
        "furn-span": "Rp 3.500.000"
        })
    </div>
    <div>
        @@include('../components/_el-furneture.html', {
        "img": "./assets/images/furneture-8",
        "imgsell": "./assets/images/sell_new",
        "title": "Pingky", 
        "descriptor": "Cute bed set", 
        "cost": "Rp 7.500.000",
        "furn-span": "Rp 14.000.000"
        })
    </div>
    </div>