    <div class="shop-orientation">
        <div class="shop-orientation__title">
            <div class="shop-orientation__title__logo">
                <img src="../assets/logo.png" alt="">
            </div>
            <div class="shop-orientation__title__header">
                @@title__header
            </div>
            <div class="shop-orientation__title__descriptor">
                Home <span class="so-span-1"> > </span> <span class="so-span-2">@@where</span>
            </div>
        </div>
    </div>