<div class="shop-btn-buttons__block">
    <div class="shop-btn-buttons__block__first">
        <button class="shop-btn-buttons-block__first__btn">
            <div class="shop-btn-buttons-block__first__text">
                1
            </div>
        </button>
    </div>
    <div class="shop-btn-buttons__block__second">
        <button class="shop-btn-buttons-block__second__btn">
            <div class="shop-btn-buttons-block__second__text">
                2
            </div>
        </button>
    </div>
    <div class="shop-btn-buttons__block__third">
        <button class="shop-btn-buttons-block__third__btn">
            <div class="shop-btn-buttons-block__third__text">
                3
            </div>
        </button>
    </div>
    <div class="shop-btn-buttons__block__fourth">
        <button class="shop-btn-buttons-block__fourth__btn">
            <div class="shop-btn-buttons-block__fourth__text">
                <a href="../asgaard-sofa.html">Next</a>
            </div>
        </button>
    </div>
</div>
