@use '../../utils/variables';

.add-product{

    &__block{
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &__view-more{
            width: 20%;

            &__title{
                width: 100%;
                font-weight: 600;
                font-size: 2rem;
                line-height: 126%;
                letter-spacing: 0%;
                vertical-align: middle;

            }

            &__link{

                .view-more-link{
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: var(--main-link-grey-color);
                }
            }
        }
        
        &__selected{
            display: inline-flex;
            align-items: center;
            gap: var(--gap-l);
            margin-top: 3%;
            flex-wrap: wrap;
            width: 50%;
        }

        &__choose{
            &__title{
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 126%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: var(--brn-color-black);
            }

            &__select{

                .choose-select{
                    width: 242px;
                    height: 39px;
                    background-color: var(--background-color-shop);
                    color: var(--btn-color-white);
                    border: none;
                    border-radius: 5px;

                    font-weight: 600;
                    font-size: 1.14rem;
                    line-height: 126%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                }
            }
        }
    }
}