// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/nav';
@use 'layout/index/nc-section-main';

// ==== 4. Components ====
@use 'components/_button_nc-section.scss';
@use 'components/card';


body {
  background-color: var(--main-color);
  font-family: var(--font-family-title);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}