// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/nav';
@use 'layout/index/nc-section-main';
@use 'layout/index/op-section-main';
@use 'layout/index/br-section-main';
@use 'layout/index/bri-section-main';
@use 'layout/index/ss-section-main';
@use 'layout/index/footer';

@use 'layout/shop/orientation-shop';
@use 'layout/index/shop-buttons';
@use 'layout/index/nomination';


@use 'layout/asgaard/path-asgaard';
@use 'layout/asgaard/main-asgaard-inspection';
@use 'layout/asgaard/buttons-size';
@use 'layout/asgaard/color-choise';
@use 'layout/asgaard/count-things';
@use 'layout/asgaard/main-text-block__pictures';
@use 'layout/asgaard/main-text-block';
@use 'layout/asgaard/related-products';

@use 'layout/asgaard/cart-block';

@use 'layout/product-comparison/add-product__selected-block';
@use 'layout/product-comparison/main-product-comparison';

@use 'layout/product-comparison/table';



@use 'layout/cart/main-cart';


// ==== 4. Components ====


body {
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
  font-family: var(--font-family-title);
}

.container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: none;
}